<h4>Flopchooser</h4>

<div class="header" >
  <p>Which movie has a lower IMDB rating?</p>
  <p [hidden]="!hasChosen">

    <span [hidden]="!isCorrect">Correct!</span>
    <span [hidden]="isCorrect">Incorrect!</span>
    
  </p>
  <button 
  [hidden]="!hasChosen" 
  (click)="onPlayAgainClicked()"
  class="btn btn-primary">Play Again</button>
   
  
</div>
  
 

<div class="movie-selector" >
  <app-movie-selector 
    [movie]="flops.first"
    (select)="onFirstSelected()"
    ></app-movie-selector>

  <app-movie-selector 
    [movie]="flops.second"
    (select)="onSecondSelected()"
    ></app-movie-selector>
 
  
 

</div>